body{
    margin: 0;
    background-image: url('paryerbackground.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    font-family:   Helvetica, sans-serif;
    background-color: #2f3d3f;

   
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: (internal value);
  }

.btns{

}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: gold; */
    margin-top: 0px;
    
}

.logo img{
    width: 60px;
    padding: 10px;
    margin-left: 220px;
}

.pages{
    display: flex;
    align-items: center;
    width: auto;
    gap: 50px;
    padding: 10px;
    /* margin: 0px 80px; */
    margin-right: 250px;
    /* background-color: gold; */
    color: white;
    font-size: small;
    /* transition: tram 2.s; */


}

.pages h2{
    transition:transform 0.5s;
    padding: 5px;
    

}

.pages  h2:hover{
    border-bottom: 6px solid #eeb87b;
    background-color: rgba(165, 115, 24, 0.3);
    cursor: pointer;
    transform: scale(1.05);
    /* padding: 10px; */

}

.home{
    border-bottom: 6px solid #eeb87b;
    
}

.pages button{
    padding: 5px 15px;
    color: white;
    background-color: #eeb87b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition:transform 1s;
    
}

.pages button:hover{
    background-color:#b48b5d;
    color: white;
    transform: scale(1.1);

}

.slider{
    
    height: 115vh;
    width: inherit;
    color: white;
    display: flex;
    gap: 60px;
    flex-direction: column;

}

.slider-content{
    margin: 20px 0px 0px 25vh;
    padding: 5vh;
    width: 60%;
}

.slider-content h1{
    font-size: 40px;
}

.slider-content p{
    font-size: 20px;
}

.slider-content input, button{
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

.slider-content button{
    color: rgb(255, 255, 255);
    background-color: #eeb87b;
    font-weight: 600;
}

.salawat{
    /* background-color: gold; */
    width: 80%;
    height: 45%;
    margin:0 25vh;
    justify-self: center;
    /* border: 2px solid gold; */
    display: flex;
    gap: 0px ;
}

.salat{
    width: 140px;
    height: 90%;
    /* border: 2px solid gold; */
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.salat img{
    width: 80px;
    margin-top: 25px;
}

/* .footer{
    height: 10vh;
    background-color: #b48b5d;
} */
